<!DOCTYPE html>
<head>
  <title>giflooper</title>
  <!-- <script src="{{url_for('static', filename='backgroundTimer.js')}}"></script> -->
  <script>
      var resultLoop = {{ resultloop | safe }};
      var imageHead = document.getElementById("img");
      var i = 0;
      setInterval(function() {
          document.getElementById("img").src = resultLoop[i];
          i = i + 1;
          if (i == resultLoop.length) {
            i =  0;
          }
      }, 850);
  </script>

</head>

<body>
  <h1>GifLooping</h1>
  <p>Here are your searchterms</p>
  <p>{{ resultloop[-1] }}</p
  <br>
  <img src={{ resultloop[-1] }} id="img" width="500" height="377">
  <br>
  <a href="/giflooper"><input type="button" value="search again"></a>
</body>
