<!DOCTYPE html>
<head>
  <title>giflooper</title>
  <script>
    var resultloop = {{ resultloop|safe }};
    console.log(resultloop)
  </script>

</head>

<body>
  <h1>GifLooping</h1>
  <p>Here are your searchterms</p>
  <p>{{ resultloop[0] }}</p
  <br>
  <img src={{ resultloop[0] }} id="img" width="500" height="377">
  <br>
  <a href="/giflooper"><input type="button" value="search again"></a>
</body>




// for (var i = 0, len = 25; i < len; i++) {
  // console.log(i)
//   console.log({{ resultloop[i] }})
//   resultloop.push({{ resultloop[i] }})
// }
// resultloop.push("{{ resultloop[0] }}");
// console.log(resultloop);
